* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }

h1 {
    text-align: center;
    margin: 50px auto 0 auto;
}

.card-container {
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-basis: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 70px;
}

.card-inner-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -75px;
    border: 5px, solid, #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) ;
}

.img img:hover {
    transform: translate3d(0, -5px, 0);
    transition: transform 0.35s;
}

.name {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

h3 {
    text-align: left;
}

.deb p {
    text-transform: uppercase;
    text-align: right;
    color: #0277bd;
}



.film-info {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
}


.film-logo img {
    width: 90px;
    height: 131px;
    margin: 0;
    padding: 0;

}


.film-description p {
    color: #484848;
    text-align: center;
    text-transform: none;
    margin: 0;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.film-description {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    
}

.checked {
    color: orange;
  }

.imdb {
    align-self: flex-end;
    margin-top: 10px;
    
}

.imdb img {
    height: 25px;
    padding-bottom: 5px;
}

h5 {
    margin: 15px 0 10px 0;
    
}

.about {
    color: #484848;
    text-align: justify;
    font-size: 0.9rem;
    padding-top: 0px;
}

.award {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}


.award .award_avatar img {
    width: 30px;

}

.award_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
       
  }

  .award p {
    
    margin: 0;
  }

  .zerow p {
  text-transform: none;
    color: #484848;
  }

  .zeron p {
    text-transform: none;
      color: #484848;
    }

  .win p {
    text-transform: uppercase;
    text-align: right;
    color: #3f9489;
}

.nom p {
    text-transform: uppercase;
    text-align: right;
    color: #e5af0e;
}

.wins p {
    text-transform: none;
    color: #2e7d32;
}

.noms p {
    text-transform: none;
    color: #ef535e;
}


